@import "tailwindcss";

@layer base {
  body {
    @apply bg-white text-[#0D062D] antialiased;
    font-family: 'Inter', system-ui, -apple-system, sans-serif;
  }
}

:root {
  --sidebar-width: 250px;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #E0E0E0;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #BDBDBD;
}
